series from pandas data frame

In [1]:
import pandas as pd

In [2]:
ufo=pd.read_csv('http://bit.ly/uforeports')

In [3]:
type(ufo)

pandas.core.frame.DataFrame

In [4]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

selecting city column from the dataframe

In [6]:
ufo['City']

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
5                 Valley City
6                 Crater Lake
7                        Alma
8                     Eklutna
9                     Hubbard
10                    Fontana
11                   Waterloo
12                     Belton
13                     Keokuk
14                  Ludington
15                Forest Home
16                Los Angeles
17                  Hapeville
18                     Oneida
19                 Bering Sea
20                   Nebraska
21                        NaN
22                        NaN
23                  Owensboro
24                 Wilderness
25                  San Diego
26                 Wilderness
27                     Clovis
28                 Los Alamos
29               Ft. Duschene
                 ...
18211                 Holyoke
18212                  Carson
18213                Pasadena
18214                  Austin
18215                El Campo
18216            Garden Grove
18217           Berthoud Pass
18218              Sisterdale
18219            Garden Grove
18220             Shasta Lake
18221                Franklin
18222          Albrightsville
18223              Greenville
18224                 Eufaula
18225             Simi Valley
18226           San Francisco
18227           San Francisco
18228              Kingsville
18229                 Chicago
18230             Pismo Beach
18231             Pismo Beach
18232                    Lodi
18233               Anchorage
18234                Capitola
18235          Fountain Hills
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

In [7]:
type(ufo['City'])

pandas.core.series.Series

dot notation can also be used like ufo.City

In [9]:
ufo.City

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
5                 Valley City
6                 Crater Lake
7                        Alma
8                     Eklutna
9                     Hubbard
10                    Fontana
11                   Waterloo
12                     Belton
13                     Keokuk
14                  Ludington
15                Forest Home
16                Los Angeles
17                  Hapeville
18                     Oneida
19                 Bering Sea
20                   Nebraska
21                        NaN
22                        NaN
23                  Owensboro
24                 Wilderness
25                  San Diego
26                 Wilderness
27                     Clovis
28                 Los Alamos
29               Ft. Duschene
                 ...
18211                 Holyoke
18212                  Carson
18213                Pasadena
18214                  Austin
18215                El Campo
18216            Garden Grove
18217           Berthoud Pass
18218              Sisterdale
18219            Garden Grove
18220             Shasta Lake
18221                Franklin
18222          Albrightsville
18223              Greenville
18224                 Eufaula
18225             Simi Valley
18226           San Francisco
18227           San Francisco
18228              Kingsville
18229                 Chicago
18230             Pismo Beach
18231             Pismo Beach
18232                    Lodi
18233               Anchorage
18234                Capitola
18235          Fountain Hills
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

In [10]:
ufo['Colors Reported']

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
5           NaN
6           NaN
7           NaN
8           NaN
9           NaN
10          NaN
11          NaN
12          RED
13          NaN
14          NaN
15          NaN
16          NaN
17          NaN
18          NaN
19          RED
20          NaN
21          NaN
22          NaN
23          NaN
24          NaN
25          NaN
26          NaN
27          NaN
28          NaN
29          NaN
          ...
18211       NaN
18212       NaN
18213     GREEN
18214       NaN
18215       NaN
18216    ORANGE
18217       NaN
18218       NaN
18219       NaN
18220      BLUE
18221       NaN
18222       NaN
18223       NaN
18224       NaN
18225       NaN
18226       NaN
18227       NaN
18228       NaN
18229       NaN
18230       NaN
18231       NaN
18232       NaN
18233       RED
18234       NaN
18235       NaN
18236       NaN
18237       NaN
18238       NaN
18239       RED
18240       NaN
Name: Colors Reported, Length: 18241, dtype: object

dot notation may fail when we have space between attributes but bracket notation always works.

@ columns can be merged by adding them with + sign.

In [14]:
ufo.City+ ',' +ufo.State  # adding two columns in 1 col

0                      Ithaca,NY
1                 Willingboro,NJ
2                     Holyoke,CO
3                     Abilene,KS
4        New York Worlds Fair,NY
5                 Valley City,ND
6                 Crater Lake,CA
7                        Alma,MI
8                     Eklutna,AK
9                     Hubbard,OR
10                    Fontana,CA
11                   Waterloo,AL
12                     Belton,SC
13                     Keokuk,IA
14                  Ludington,MI
15                Forest Home,CA
16                Los Angeles,CA
17                  Hapeville,GA
18                     Oneida,TN
19                 Bering Sea,AK
20                   Nebraska,NE
21                           NaN
22                           NaN
23                  Owensboro,KY
24                 Wilderness,WV
25                  San Diego,CA
26                 Wilderness,WV
27                     Clovis,NM
28                 Los Alamos,NM
29               Ft. Duschene,UT
                  ...
18211                 Holyoke,MA
18212                  Carson,CA
18213                Pasadena,CA
18214                  Austin,TX
18215                El Campo,TX
18216            Garden Grove,CA
18217           Berthoud Pass,CO
18218              Sisterdale,TX
18219            Garden Grove,CA
18220             Shasta Lake,CA
18221                Franklin,NH
18222          Albrightsville,PA
18223              Greenville,SC
18224                 Eufaula,OK
18225             Simi Valley,CA
18226           San Francisco,CA
18227           San Francisco,CA
18228              Kingsville,TX
18229                 Chicago,IL
18230             Pismo Beach,CA
18231             Pismo Beach,CA
18232                    Lodi,WI
18233               Anchorage,AK
18234                Capitola,CA
18235          Fountain Hills,AZ
18236              Grant Park,IL
18237             Spirit Lake,IA
18238             Eagle River,WI
18239             Eagle River,WI
18240                    Ybor,FL
Length: 18241, dtype: object

to create new series by merging old ones, we need to use bracket notation

In [15]:
ufo['Location']=ufo.City+ ', '+ ufo.State

In [16]:
ufo.Location

0                      Ithaca, NY
1                 Willingboro, NJ
2                     Holyoke, CO
3                     Abilene, KS
4        New York Worlds Fair, NY
5                 Valley City, ND
6                 Crater Lake, CA
7                        Alma, MI
8                     Eklutna, AK
9                     Hubbard, OR
10                    Fontana, CA
11                   Waterloo, AL
12                     Belton, SC
13                     Keokuk, IA
14                  Ludington, MI
15                Forest Home, CA
16                Los Angeles, CA
17                  Hapeville, GA
18                     Oneida, TN
19                 Bering Sea, AK
20                   Nebraska, NE
21                            NaN
22                            NaN
23                  Owensboro, KY
24                 Wilderness, WV
25                  San Diego, CA
26                 Wilderness, WV
27                     Clovis, NM
28                 Los Alamos, NM
29               Ft. Duschene, UT
                   ...
18211                 Holyoke, MA
18212                  Carson, CA
18213                Pasadena, CA
18214                  Austin, TX
18215                El Campo, TX
18216            Garden Grove, CA
18217           Berthoud Pass, CO
18218              Sisterdale, TX
18219            Garden Grove, CA
18220             Shasta Lake, CA
18221                Franklin, NH
18222          Albrightsville, PA
18223              Greenville, SC
18224                 Eufaula, OK
18225             Simi Valley, CA
18226           San Francisco, CA
18227           San Francisco, CA
18228              Kingsville, TX
18229                 Chicago, IL
18230             Pismo Beach, CA
18231             Pismo Beach, CA
18232                    Lodi, WI
18233               Anchorage, AK
18234                Capitola, CA
18235          Fountain Hills, AZ
18236              Grant Park, IL
18237             Spirit Lake, IA
18238             Eagle River, WI
18239             Eagle River, WI
18240                    Ybor, FL
Name: Location, Length: 18241, dtype: object

In [17]:
ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca, NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro, NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke, CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene, KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair, NY"